.user-info-section{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    gap: 10px;
    border: 1px solid black;
}

.user-info-section h1{
    margin-left: 20px;
}

.user-info{
    padding: 20px;
}
.user-books{
    width: 100%;
    padding: 10px;
    display: flex;
    padding-left: 20px;
    gap: 20px;
}
.info{
    display: flex;
    gap:50px;
}